body {
  background: #ededed;
}

aside {
  position: sticky;
  top: 50px;
  float: right;
  margin: 0 10px;
  padding: 10px;
  background: #cfcfcf;
}

.logo {
  text-align: center;
}

.lists {
  display: flex;
  flex-grow: 1;
}

.list {
  margin: 0 10px;
  width: 600px;
}

.list h3,
.checkbox,
.radio,
.input-block,
.table h3 {
  display: flex;
  align-items: center;
}

.album {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
